/* Default styles for the show-and-tell. */
.webvr-showandtell-steps {
	/* This can't have display: none since it will prevent dimension
	   calculation. */
	height: 0;
	overflow: hidden;
}
#webvr-showandtell-steps-style {
	display: none;
}
